# Dependencies
node_modules

# Next.js
.next
out

# Build
build
dist

# Environment
.env
.env.local
.env*.local

# IDE
.idea
*.iml
.vscode
*.swp

# Cache
.eslintcache
tsconfig.tsbuildinfo

# Misc
*.log
.DS_Store
